body{
  font-family: 'Alegreya Sans SC', serif;
  background: #f1f1f1 url('../images/concrete_seamless.png');
}
  
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.skip {
  position: absolute;
  top: -40px;
  left: -40px;
  overflow: hidden;
  transition: none;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

.nav_links{
  display:flex;
  flex-direction: column;
  color:blue;
}

p {
  padding: 0 30px;
}


a:visited{
  color:blue
}

.nav_item a{
  padding: 10px;
  color: blue;
  display: flex;
}

.pricing{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display:flex;
  flex-flow: column;
  flex-basis: 450px;
  align-content: center;
}

.card > header{
  background: #288080;
  border: 2px solid #45ADAD;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  width:100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  justify-content: center;
}

.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.gallery img{
  border: 10px solid #50C7C7;
  width: 300px;
  margin: 10px;
}

#logo{
  position:relative;
  animation-name: slidein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
  width:50px;
  opacity:0;
  }
  to {
  width:425px;
  opacity: 1;
  }
}

@media screen and (min-width: 850px){
  header{
    position: sticky; top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
    display: flex;
    flex-flow: row wrap;
    position: sticky; top: 0;
    align-items: flex-end;
  }
  
  .card{
    display: flex;
    flex-basis: 250px;
  }

  .card > header {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
  
@media print {
  body{
    background-image:none;
  }

  header{
    display: flex;
    flex-flow: column nowrap;
  }

  .pricing{
    padding: 0px 0px 20px 0px;
  }
  

  .nav_links{
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .card{
    border: 2px solid #45ADDD;
    flex-basis: 250px;
    padding: 0 0 20 0;
  }

  .card_big {
    margin: 0 0 71.1 0;
  }

  .card > header{
    justify-content: center;
  }

  .card ul ::before{
    content: "👍";
  }

  .gallery{
    display: none;
  }

  #gallery{
    display: none;
  }
}


@media all and (prefers-reduced-motion: reduce) {
  #logo{
    animation: none;
    transition: none;
    box-sizing: border-box;
  }
}    